@import url("destyle.css");

@font-face {font-family: HugeGothic-Bold; src: url(../font/HugeGothic-Bold.woff)}
@font-face {font-family: Copernicus; src: url(../font/GalaxieCopernicus-Book.woff)}


h1, h2, h3, h4, h5, h6 {font-family: HugeGothic-Bold;}

h1 {font-size: 290px; font-weight: 600; line-height: 290px;}
h2 {font-size: 80px; font-weight: 600; line-height: 100px;}

/* logo */
.logo_wrap {width: 74px; height: 74px; background-color: white; display: flex; justify-content: center; align-items: center; position: fixed; top: 50px; left: calc(50vw - 37px); z-index: 200;}
    .logo_wrap p {width: 48px; height: 48px; background-color: white; font-family: HugeGothic-Bold; font-size: 36px; color: #EA178C; display: flex; justify-content: center; align-items: center;}


/* header */
header {width: 100vw; height: 440px; background-color: #f4f4f4; display: flex; justify-content: center; align-items: center; position: fixed; visibility: hidden; z-index: 100;}
nav {width: 1050px; height: 90px; position: relative;}

.menu_wrap {display: flex; justify-content: space-between;}
    .menu_wrap li {width: 190px; margin: 0 10px; display: flex; flex-direction: column; align-items: center;}
    .menu_wrap li a {line-height: 32px; width: 190px; font-family: HugeGothic-Bold; font-size: 36px; text-align: center;}
    .menu_wrap li a:hover {color: #ea178c; cursor: pointer;}
    .menu_wrap li p {font-family: Galaxie-Book; font-size: 14px; text-align: center; letter-spacing: -1px; padding-top: 4px; box-sizing: border-box;}
    .menu_wrap li div {width: 48px; border-bottom: 1px solid black; margin: 35px auto;}

.gnb_aside {width: 300px; height: 22px; display: flex; justify-content: center; position: absolute; top: 166.5px; left: calc(50% - 150px);}
    .gnb_aside p {font-family: Galaxie-Book; font-size: 14px; letter-spacing: -1px;}
    .gnb_aside a {font-family: HugeGothic-Bold; font-size: 16px; margin-left: 6px;}
    .gnb_aside a:hover {color: #ea178c; cursor: pointer;}
    .gnb_aside span {color: #ea178c;}