            @font-face {font-family: Galaxie-Book; src: url(../font/GalaxieCopernicus-Book.woff)}
            @font-face {font-family: HugeGothic-Bold; src: url(../font/HugeGothic-Bold.woff)}

            h1 {font-family: HugeGothic-Bold; font-size: 300px; color: black; font-weight: 600;}
            h2 {font-family: HugeGothic-Bold; font-size: 72px; font-weight: 100; color: white;}
            p {font-family: Galaxie-Book; font-size: 14px; color: black; font-weight: 100;}

           

            .background_section_01 {background-image: url(../img/hugeinc01.png); background-size: cover;}
            .background_section_02 {background-image: url(../img/hugeinc02.png); background-size: cover;}
            .background_section_03 {background-image: url(../img/hugeinc03.png); background-size: cover;}
            .background_section_04 {background-image: url(../img/hugeinc04.png); background-size: cover;}
            .background_section_05 {background-image: url(../img/hugeinc05.jpg); background-size: cover;}
            .background_section_06 {background-image: url(../img/hugeinc06.jpg); background-size: cover;}
            .background_section_07 {background-image: url(../img/hugeinc07.jpg); background-size: cover;}


            .logo_wrap {width: 74px; height: 74px; background-color: white; position: fixed; left:calc(50vw - 37px); top: 50px; display: flex; justify-content: center; align-items: center; z-index: 200;}
            .logo_text {width: 48px; height: 48px; color: #ea178c; font-family: HugeGothic-Bold ; font-size: 36px; line-height: 48px; text-align: center;}
          

            .home_section {width: 100vw; height: 100vh;}
            .home_wrap {width: 100vw; height: 100vh; background-color: white; display: flex; justify-content: center; align-items: center; position: relative;}
            .home_footer_wrap {height: 90px; width: 100vw; background-color: white; position: absolute; bottom: 0; display: flex; justify-content: center; align-items: center; flex-direction: column;}
            .home_footer_introduce {line-height: 60px;}
            .home_footer_line {height: 30px; border-left: 1px solid black;}


            .section_wrap {width: 100vw; height: 100vh; box-sizing: border-box; display: flex;}

            .section_index {width: 12.5vw; height: 100vh; padding-top: 20vh; box-sizing: border-box;}
            .section_index_wrap {display: flex; justify-content: flex-end;}
            .section_index_number {font-family: HugeGothic-Bold; font-size: 22px; font-weight: 100; line-height: 22px; color: white; margin-right: 15px; letter-spacing: 1px;}
            .section_index_line {border-bottom: 1px solid white; width: 5vw; height: 11px;}

            .section_content {width: 75vw; height: 100vh; padding: 20vh 0; padding-left: 15px; box-sizing: border-box;}
            .section_content_wrap {width: 45%; height: 60vh;}
            .section_content_subtitle {font-family: HugeGothic-Bold; font-size: 22px; font-weight: 100; color: white; line-height: 22px; letter-spacing: 1px;}
            .section_content_subwrap {width: 100%; height: calc(100% - 22px); display: flex; flex-direction: column; justify-content: center;}
            .section_content_title_hr {border-top: 1px solid white; width: 5vw; margin: 30px 0;}
            .section_content_description {width: 85%; font-family: Galaxie-Book; font-size: 18px; line-height: 28px; color: white;}
            

            .color_black {color: black;}
            .color_white {color: white;}
            .bordertop_color_black {border-top: 1px solid black;}
            .bordertop_color_white {border-top: 1px solid white;}
            .borderbottom_color_black {border-bottom: 1px solid black;}
            .borderbottom_color_white {border-bottom: 1px solid white;}

            