/* HOME v4.3 (최종) */
@import url("../source/common.css");

    
/* home */
.home_wrap {width: 100%; height: 100vh; display: flex; justify-content: center; align-items: center; position: relative;
    background: linear-gradient(315deg, #ffffff,#ffffff, #ea178c, #ffffff, #ffffff);
    background-size: 400% 400%;
    
    animation: home_background_animation 1s linear 1;   
}

@keyframes home_background_animation {
    0%{background-position:0% 10%}
    100%{background-position:100% 90%}    
}
    .home_wrap h1 {font-size: 300px; line-height: 300px; padding: 50px 0 0 25px; box-sizing: border-box;}
    .title_hello {display: block;}
    .title_hi {display: none;}
    
    .home_wrap .bottom {width: 100%; height: 90px; display: flex; flex-direction: column;justify-content: center; align-items: center;  position: absolute; bottom: 0;}
        .home_wrap .bottom p {line-height: 60px;}
        .home_wrap .bottom div {height: 30px; border-left: 1px solid black;}

             
/* section */
.section {width: 100%; height: 100vh; display: flex;}
    
    .section .index {width: 12.5%; height: 100vh; padding-top: 20vh; box-sizing: border-box;}
        .section .index .wrap {display: flex; justify-content: flex-end;}
            .section .index p {line-height: 22px; font-family: HugeGothic-Bold; font-size: 22px; letter-spacing: 1px; margin-right: 15px;}
            .section .index .wrap div {min-width: 40%; height: 11px;}

    .section .content {width: 75%; height: 100vh; padding: 20vh 0; padding-left: 15px; box-sizing: border-box;} /*1920 * 0.75 = 1440*/
        .section .content > p {line-height: 22px; font-family: HugeGothic-Bold; font-size: 22px; letter-spacing: 1px;}
        .section .content .subwrap {width: 45%; height: 60vh; display: flex; flex-direction: column; justify-content: center;} /* 1440 * 0.45 = 648px */
            .section .content .subwrap h2 {font-size: 72px;}
            .section .content .subwrap div {width: 14.81418%; margin: 30px 0;} /* 5vw = 96px */
            .section .content .subwrap p {width: 85%; line-height: 28px; font-size: 18px;}

    .section .detail {width: 12.5%; height: 100vh;}



/* background_image */
.bg_img_section_01 {background-image: url(img/hugeinc01.png); background-size: cover; background-repeat: no-repeat;}
.bg_img_section_02 {background-image: url(img/hugeinc02.png); background-size: cover; background-repeat: no-repeat;}
.bg_img_section_03 {background-image: url(img/hugeinc03.png); background-size: cover; background-repeat: no-repeat;}
.bg_img_section_04 {background-image: url(img/hugeinc04.png); background-size: cover; background-repeat: no-repeat;}
.bg_img_section_05 {background-image: url(img/hugeinc05.jpg); background-size: cover; background-repeat: no-repeat;}
.bg_img_section_06 {background-image: url(img/hugeinc06.jpg); background-size: cover; background-repeat: no-repeat;}
.bg_img_section_07 {background-image: url(img/hugeinc07.jpg); background-size: cover; background-repeat: no-repeat;}