@media screen and (max-height:660px) {
    .section .content .subwrap {height: auto;}    
}

@media screen and (max-width:900px) {
    .home_wrap h1 {font-size: 240px;}
}

@media screen and (max-width:999px) {
    .section .index p {font-size: 16px;}    
    .section .content .subwrap h2 {font-size: 72px;}
    .section .content > p {font-size: 16px;}
}

@media screen and (max-width:767px) {
    /* home */
    .title_hello {display: none;}
    .title_hi {display: block;}
    .home_wrap h1 {font-size: 200px;}

    /* section */
    .section {padding-left:6.329115%; position: relative;}
    .section .index {padding: 15vh 0 5vh;}
    .section .index .wrap {justify-content: flex-start;}
    .section .index .wrap div {width: auto; flex-grow: 1;}
    .section .index p {font-size: 16px; line-height: 24px; margin-right: 10%;}

    .section .content {padding: 15vh 0 5vh; padding-left: 2.5%;}
    .section .content > p {font-size: 16px ;line-height: 24px;}
    .section .content .subwrap {width: 75%; height: auto; position: absolute; left: 6.329115%;  margin-top: 30px;}
    .section .content .subwrap h2 {font-size: 40px; line-height: 44px; letter-spacing: 1px;}
    .section .content .subwrap p {width: 100%; font-size: 18px; line-height: 34px;}

    /* background_image */
    .bg_img_section_01 {background-image: url(img/hugeinc01m.jpg); background-position-x: 50%; background-position-y: 50%;}
    .bg_img_section_02 {background-image: url(img/hugeinc02m.png); background-position-x: 50%; background-position-y: 50%;}
    .bg_img_section_03 {background-image: url(img/hugeinc03_resize.png); background-position-x: 50%; background-position-y: 50%;}
    .bg_img_section_04 {background-image: url(img/hugeinc04m.png); background-position-x: 50%; background-position-y: 50%;}
    .bg_img_section_05 {background-image: url(img/hugeinc05_resize.jpg); background-position-x: 50%; background-position-y: 50%;}
    .bg_img_section_06 {background-image: url(img/hugeinc06m.jpg); background-position-x: 50%; background-position-y: 50%;}
    .bg_img_section_07 {background-image: url(img/hugeinc07m.jpg); background-position-x: 50%; background-position-y: 50%;}
}

@media screen and (max-width:420px) {
    #section02_subwraptitle {font-size: 37px;}
    #section06_subwraptitle {font-size: 29px;}
}