@media screen and (max-width:999px) {
    /* work.html */
    .work_02 {font-size: 42px;}

    .imggrid {width: 86vw;}
    .imggrid_tile {width: 43vw; height: 43vw;}    

    .work_04_wrap {flex-wrap: wrap; width: 83.05085%;}
    .work_04_wrap .left h4 {font-size: 16px; line-height: 16px; margin: 20px 0 50px;}
    .work_04_wrap .right {width: 100%;}
    .work_04_wrap .right li {width: 33.33333%; margin-right: 0;}

    /*scott-sports.html */
        
}

@media screen and (max-width:767px) {
    /* work.html */
    .work_02 {font-size: 30px;}

    .imggrid {width: 86.9vw;}
    .imggrid_tile_title {font-size: 36px; line-height: 36px;}
    .imggrid_tile {width: 86.9vw; height: 86.9vw;}
  
    .work_04 {padding: 50px 0 0;}
    .work_04_wrap {flex-wrap: wrap; width: 74.35897%;}
    .work_04_wrap .left {width: 40%;}
    .work_04_wrap .left hr {width: auto;}

    /* scott-sports.html */

}