@import url("reset.css");
@import url("font.css");


/* logo */
#logo_wrap {width: 74px; height: 74px; background-color: #fff; display: flex; justify-content: center; align-items: center; position: fixed; top: 52px; left: calc(50% - 37px); z-index: 100;  padding-top: 2px; box-sizing: border-box; font-family: HugeGothic-Bold; font-size: 36px; color: #ea178c; transition: top 500ms cubic-bezier(0.25, 0.1, 0.25, 1),opacity 500ms cubic-bezier(0.25, 0.1, 0.25, 1),background-color 200ms cubic-bezier(0.25, 0.1, 0.25, 1);

    background: linear-gradient(315deg, #ffffff,#ffffff, #ea178c, #ffffff, #ea178c, #ffffff, #ffffff, #ffffff);
    background-size: 800% 800%;
    animation: AnimationName 0.7s linear 1;
}

@keyframes AnimationName {
    0%{background-position:0% 10%;}
    100%{background-position:100% 90%;}    
}

.h-logo__svg {width: 20px;}
#logo_wrap:hover {background: #ea178c;}
.h-logo__path {transition: fill 0.3s cubic-bezier(0.25, 0.1, 0.25, 1)}
#logo_wrap:hover .h-logo__path {fill: white;}

.open {border-width: 0 50px !important;}
#hover_border {width: 100%; height: 100vh; position: fixed; left: 0; top: 0; z-index: 99; transition: border-width 0.25s; pointer-events: none;}

#logo_wrap2 {width: 74px; height: 74px; background-color: #f4f4f4; justify-content: center; align-items: center; position: fixed; top: 52px; left: calc(50% - 37px); z-index: 200;  padding-top: 2px; box-sizing: border-box; font-family: HugeGothic-Bold; font-size: 36px; color: #ea178c; display: none; transition: background-color 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);}

#logo_wrap2 img {width: 60px;}

/*.logo_wrap p {width: 48px; height: 48px;  background-color: white;  color: #EA178C; display: flex; justify-content: center; align-items: center;}*/


/* header */
main {width: 100%; transition: padding 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);}

/* id=section_header */ header {width: 100%; height: 0px; display: block; background-color: #f4f4f4; position: fixed; z-index: 100; overflow: hidden; transition: height 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);} 


nav {width: 100%; height: 440px; display: flex; justify-content: center; align-items: center; box-sizing: border-box; position: relative;}

.menu_wrap {max-width: 95%; display: flex; justify-content: space-between; align-items: center; padding-top: 26px; margin: 0 auto;}
    .menu_wrap li {max-width: 18.095238%; display: flex; flex-direction: column; align-items: center; margin-right: 10px;}
    .menu_wrap li a {line-height: 32px; width: 190px; font-family: HugeGothic-Bold; font-size: 32px; text-align: center;}
    .menu_wrap li a:hover {color: #ea178c; cursor: pointer;}
    .menu_wrap li p {font-size: 14px; text-align: center; letter-spacing: -1px; padding-top: 4px; box-sizing: border-box; line-height: 20px;}
    .menu_wrap li div {width: 48px; border-bottom: 1px solid black; margin: 35px auto;}

.menu_wrap_hidden {display: none; width: 100%; padding: 0 10%;}
    .menu_wrap_hidden li {display: flex; justify-content: space-between; margin: 5vh 0;}
    .menu_wrap_hidden li a:hover {color: #ea178c; cursor: pointer;}
    .menu_wrap_hidden hr {margin: 13px 10px 0; flex-grow: 1;}
    

.gnb_aside {width: 300px; height: 22px; display: flex; justify-content: center; position: absolute; top: 341.5px; left: calc(50% - 150px);}
    .gnb_aside p {font-size: 14px; letter-spacing: -1px; line-height: 20px;}
    .gnb_aside a {font-family: HugeGothic-Bold; font-size: 16px; margin-left: 6px; line-height: 20px;}
    .gnb_aside a:hover {color: #ea178c; cursor: pointer;}
    .gnb_aside span {color: #ea178c;}



/* magenta */
.magenta {width: 100%; background-size: cover;}
.magenta >div:nth-child(1) {background-color: rgba(0,0,0,0.3); padding: 200px 0;}
.magenta_wrap {width: 100%; display: flex; justify-content: flex-start;}
    
    .magenta_wrap .left {width: 18.98734%; margin-right: 1.25%; margin-left: calc(12.5% + 15px);}
    .magenta_wrap .left img {width: 100%;}

    .magenta .right {width: 43.03797%; margin-left: 5.06329%; display: flex; flex-direction: column; justify-content: center;}
    .magenta .right h2 {font-family: HugeGothic-Bold; font-size: 80px; color: white;}
    .magenta .right p {font-size: 18px; line-height: 34px; color: white;}



/* footer */
.footer {width: 100%; height: 240px; display: flex; justify-content: center; background-color: black;}

.footer .wrap {width: 75%; padding: 70px 15px 87px; box-sizing: border-box; display: flex; justify-content: space-between;}

    .footer .wrap .left {display: flex; padding-top: 5px; box-sizing: border-box;}
        
        
    .footer .wrap .left div {height: 36px; font-family: HugeGothic-Bold; font-size: 32px; letter-spacing: 1px; padding-right: 23px; box-sizing: border-box; border-right: 1px solid #888888; margin-right: 23px; color: white;}
    .footer .wrap .left div img {height: 100%;}
        .footer .wrap .left p {line-height: 36px; font-size: 16px; letter-spacing: 1.5px; color: white;}

    
        .footer .wrap .right a {line-height: 24px; font-family: HugeGothic-Bold; font-size: 14px; color: #c8c8c8; letter-spacing: 1px; margin-right: 16px;}
        .footer .wrap .right a:nth-child(5) {margin-right: 0;}
        .footer .wrap .right p {line-height: 20px; font-size: 12px; color: #c8c8c8; text-align: end; margin-top: 10px;}


/* hero */
.hero {width: 100%; height: 80vh;  background-position: center; background-size: cover; padding: 140px 0 60px; box-sizing: border-box;}
.hero_title {width: 74.68354%; height: calc(80vh - 200px); display: flex; flex-direction: column; justify-content: flex-end; margin: 0 auto;}


/* video */
.hero_video {width: 100%; height: 80vh; position: relative; overflow: hidden;}

    .hero_video video {min-width: 100%; min-height: 100%; vertical-align: bottom;}

    .video_button {width: 74px; height: 74px; background-color: rgba(234, 23, 140, 0.6); position: absolute; top: calc(50% - 37px); left: calc(50% - 37px); display: flex; justify-content: center; align-items: center;}
    .video_button div {width: 16px; height: 16px;}


/* section_subtitle */    
.section_subtitle {width: 32.20339%; padding-top: 14px;}
.section_subtitle_nopadding {width: 32.20339%; margin-bottom: 50px;}
.section_subtitle_rule {width: 47.36842%; margin-bottom: 15px;}
.section_subtitle_rule_white {width: 47.36842%; margin-bottom: 15px; color: white;}




/* color */
.border_bottom_black {border-bottom: 1px solid black;}
.border_bottom_white {border-bottom: 1px solid white;}
.font_white {color: white;}
.bg_0b {background-color: #0b0b0b;}
.bg_white {background-color: white;}